@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

html{
    height: 100%;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    background-color: black;
    background-image: url('/resources/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: space-around;
}

p, h1{
    user-select: none;
    pointer-events: none;
}

#buttonInformation{
    position: absolute;
    top: 1%;
    left: 1%;

    font-size: x-large;
    font-weight: 900;
    color: white;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    
    float: right;

    width: 40px;
    height: 40px;

    transition-duration: 0.4s;
}

#button:hover{
    background-color: white;
    color: black;
}

#buttonInformation:focus{
    outline: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

dialog{
    width: 400px;

    border: none;
    border-radius: .2rem;
}

dialog::backdrop{
    background: rgba(0, 0, 0, .8);
}

dialog h1{
    margin: auto;
    font-size: 2rem;
}

dialog p{
    font-weight: 300;
}

dialog button{
    font-weight: 500;
    color: white;

    border: 2px solid rgb(29, 145, 19);
    border-radius: .2rem;
    background-color: rgb(29, 145, 19);
    
    float: right;

    width: 80px;
    height: 40px;

    transition-duration: 0.4s;
}

dialog button:hover{
    background-color: white;
    color: black;
}

dialog button:focus{
    outline: none;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.timer {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    width: 590px;
    height: 378px;
    padding: 15px;
    box-sizing: border-box;
}

.timer h1{
    text-align: center;
    font-size: 4.5em;
    margin-top: 0px;
    margin-bottom: 10px;
}

.timer p{
    margin-top: 0px;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
}

.timer .flipdown{
    user-select: none;
    pointer-events: none;

    margin: auto;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
}

#buttons {
    margin: auto;

    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 25px;
}

#buttons button{
    font-size: 1.2em;
    font-weight: 600;
    color: white;

    border: 1px solid rgb(255, 255, 255);
    border-radius: .2rem;
    background-color: rgb(0, 0, 0);
    
    width: 160px;
    height: 60px;

    transition-duration: 0.4s;
}

#buttons button:hover{
    background-color: white;
    color: black;
}

#buttons button:focus{
    outline: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

#songInfo {
    display: flex;
    align-items: center;

    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: white;
    color: white;

    border-radius: 5px;
    transition: all .8s ease-in-out;
}

#songInfo p{
    font-weight: 300;

    color: black;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

#songInfo img{
    width: 64px;
    height: 64px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 550px){
    #buttonInformation{
        font-size:medium;

        width: 35px;
        height: 35px;
    }

    dialog {
        width: 80%;
    }

    .timer{
        width: 100%;
        height: 362px;
    }

    .timer h1{font-size: 2.5em;}

    #buttons button{
        font-size: .8em;

        width: 35%;
        height: 45px;
    }

}